<%= render 'shared/restaurants_container'%>
<p id="notice"><%= notice %></p>

<h1>Listing Restaurant Types</h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.general.name')%></th>
      <th><%= t('activerecord.attributes.general.description')%></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_types.each do |restaurant_type| %>
      <tr>
        <td><%= link_to restaurant_type.name, restaurant_type %></td>
        <td><%= restaurant_type.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant type', new_restaurant_type_path %>
