<%= render 'shared/restaurants_container'%>
<p id="notice"><%= notice %></p>
<h1><%= t('activerecord.attributes.restaurant.restaurant_type')%> <%= @restaurant_type.name %></h1>
<br>
<p>
  <strong>Description:</strong>
  <%= @restaurant_type.description %>
</p>
<br>
<%= link_to t('activerecord.attributes.general.edit'), edit_restaurant_type_path(@restaurant_type) %>
<br>
<br>
<p>
  <strong>Restaurants of this type: </strong>
</p>
<%= render 'restaurants/restaurant_form', restaurants: @restaurants%>

<br>
<%= render 'shared/admin_right', thing:@restaurant_type%>