<p id="notice"><%= notice %></p>

<h1><%= t('contact_people.index.title')%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.general.restaurant')%></th>
      <th><%= t('activerecord.attributes.general.company')%></th>
      <th><%= t('activerecord.attributes.general.name')%></th>
      <th><%= t('activerecord.attributes.general.role')%></th>
      <th><%= t('activerecord.attributes.general.phone_number')%></th>
      <th><%= t('activerecord.attributes.general.email')%></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_people.each do |contact_person| %>
      <tr>
        <td><% if contact_person.restaurant_id != nil %><%= link_to contact_person.restaurant.name, contact_person.restaurant %><%end%></td>
        <td><%= link_to contact_person.company.name, contact_person.company %></td>
        <td><%= link_to contact_person.name, contact_person %></td>
        <td><%= contact_person.role %></td>
        <td><%= contact_person.phone_number %></td>
        <td><%= contact_person.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>