<p id="notice"><%= notice %></p>

<h1>Listing Contact People</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Company</th>
      <th>Name</th>
      <th>Role</th>
      <th>Phone number</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_people.each do |contact_person| %>
      <tr>
        <td><%= contact_person.restaurant_id %></td>
        <td><%= contact_person.company_id %></td>
        <td><%= contact_person.name %></td>
        <td><%= contact_person.role %></td>
        <td><%= contact_person.phone_number %></td>
        <td><%= contact_person.email %></td>
        <td><%= link_to 'Show', contact_person %></td>
        <td><%= link_to 'Edit', edit_contact_person_path(contact_person) %></td>
        <td><%= link_to 'Destroy', contact_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact person', new_contact_person_path %>
