<%= render 'shared/companies_container'%>
<h1><%= t('contact_people.new.title')%></h1>
<br>
<%= form_for(@contact_person) do |f| %>
<div class="field">
  <%= f.label :company_id %><br>
  <%= f.select :company_id, options_from_collection_for_select(@companies, :id, :name) %>
</div>
    <%= render 'form' %>
<%end%>