<%= render 'shared/device_container' %>
<p id="notice"><%= notice %></p>

<h1><%= t('devices.index.title')%></h1>

<%= render 'device_table', devices: @devices%>
<br>
<%= link_to t('devices.new.title'), new_device_path%>
