<%= render 'shared/settings_container'%>
<p id="notice"><%= notice %></p>

<h1><%= t('users.index.title')%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.general.email')%></th>
      <th><%= t('activerecord.attributes.user.firstname')%></th>
      <th><%= t('activerecord.attributes.user.lastname')%></th>
      <th><%= t('activerecord.attributes.general.phone_number')%></th>
      <th><%= t('activerecord.attributes.general.role')%></th>
      <% if admin_user %>
        <th>Currently employed</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.role.name%></td>
        <% if admin_user %>
          <td><%= user.currently_employed %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
