<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Role:</strong>
  <%= @roles.find_by_id(@user.role_id).name %>
</p>

<p>
  <strong>Companies added by this user:</strong>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Street address</th>
    <th>City</th>
    <th>Country</th>
    <th>Phone number</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>
<p> </p>
  <tbody>
  <% @companies_by_user.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <td><%= company.street_address %></td>
        <td><%= company.city %></td>
        <td><%= company.country %></td>
        <td><%= company.phone_number %></td>
        <td><%= company.email %></td>
      </tr>
  <% end %>
  </tbody>
</table>

</p>

<% if admin_user %>
  <p>
    <strong>Currently employed:</strong>
    <%= @user.currently_employed %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= @user.admin %>
  </p>
<%end%>

<% if admin_user or current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
