<p id="notice"><%= notice %></p>
<h1><%= t('users.show.title')%></h1>
<br>
<% if admin_user or current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
<br>
<table>
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.general.email')%></th>
    <th><%= t('activerecord.attributes.user.firstname')%></th>
    <th><%= t('activerecord.attributes.user.lastname')%></th>
    <th><%= t('activerecord.attributes.general.phone_number')%></th>
    <th><%= t('activerecord.attributes.general.role')%></th>
    <% if admin_user %>
        <th>Currently employed</th>
        <th>Admin</th>
    <% end %>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.email %></td>
        <td><%= @user.first_name %></td>
        <td><%= @user.last_name %></td>
        <td><%= @user.phone_number %></td>
        <td><%= @user.role.name %></td>
        <% if admin_user %>
            <td><%= @user.currently_employed %></td>
            <td><%= @user.admin %></td>
        <% end %>
      </tr>
  </tbody>
</table>
<br>
<p>
  <h2><%= t('users.show.companies_by_user')%></h2>
<table>
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.general.name')%></th>
    <th> <strong><%= t('activerecord.attributes.general.street_address')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.city')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.country')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.phone_number')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.email')%></strong></th>
  </tr>
  </thead>
<p> </p>
  <tbody>
  <% @companies_by_user.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <td><%= company.street_address %></td>
        <td><%= company.city %></td>
        <td><%= company.country %></td>
        <td><%= company.phone_number %></td>
        <td><%= company.email %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>
<br>
<h2><%= t('users.show.evals_by_user')%></h2>
<table>
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.general.restaurant')%></th>
    <th><%= t('activerecord.attributes.general.company')%></th>
    <th><%= t('activerecord.attributes.general.type')%></th>
    <th><%= t('activerecord.attributes.general.value')%></th>
    <th><%= t('activerecord.attributes.general.user')%></th>
    <th><%= t('activerecord.attributes.general.comment')%></th>
  </tr>
  </thead>

  <tbody>
    <% @evals_by_user.each do |restaurant_evaluation| %>
  <tr>
    <td><%= link_to restaurant_evaluation.restaurant.name, restaurant_evaluation.restaurant %></td>
    <td><%= link_to restaurant_evaluation.company.name, restaurant_evaluation.company %></td>
    <td><%= restaurant_evaluation.restaurant_evaluation_type.name %></td>
    <td><%= restaurant_evaluation.value %></td>
    <td><%= restaurant_evaluation.user.first_name %> <%= restaurant_evaluation.user.last_name %></td>
    <td><%= restaurant_evaluation.evaluation_comment %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if admin_user %>
  Only admins see this place!
<%end%>
