<%= content_for :container_menu do %>
    <ul>
      <li><h2><%= t('menu.settings')%></h2></li>
      <li><%= link_to t('menu.software'), softwares_path %></li>
      <li><%= link_to t('menu.software_in_agreement'), software_in_agreements_path%></li>
      <li><%= link_to t('activerecord.attributes.company.company_type'), company_types_path%></li>
      <li><%= link_to t('activerecord.attributes.device.device_type'), device_types_path%></li>
      <br>
      <li><h2><%= t('menu.restaurants')%></h2></li>
      <li><%= link_to t('restaurants.show.restaurant_evals'), restaurant_evaluations_path%></li>
      <li><%= link_to t('activerecord.attributes.restaurant.restaurant_type'), restaurant_types_path%></li>
      <li><%= link_to t('menu.restaurant_eval_type'), restaurant_evaluation_types_path %></li>
      <br>
      <li><h2><%= t('menu.users')%></h2></li>
      <li><%= link_to t('menu.user_details'), current_user%></li>
      <%= link_to t('menu.users'), users_path%>
      <li><%= link_to t('menu.user_role'), roles_path%></li>
    </ul>

    <br>
    <ul>
      <li><h2><%= t('menu.languages.lang')%></h2></li>
      <li><%= link_to t('menu.languages.en'), change_locale_path(:en) %></li>
      <li><%= link_to t('menu.languages.fi'), change_locale_path(:fi) %></li>
    </ul>
<%end%>