<%= render 'shared/device_container' %>
<p id="notice"><%= notice %></p>

<h1><%= t('device_types.index.title')%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.device.device_type')%></th>
      <th><%= t('activerecord.attributes.device_type.warranty')%></th>
      <th><%= t('activerecord.attributes.device_type.tot_price')%></th>
      <th><%= t('activerecord.attributes.device_type.leas_price')%></th>
    </tr>
  </thead>

  <tbody>
    <% @device_types.each do |device_type| %>
      <tr>
        <td><%= link_to device_type.name, device_type %></td>
        <td><%= device_type.warranty_length %></td>
        <td><%= device_type.total_price %></td>
        <td><%= device_type.leasing_price_per_month %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('device_types.new.title'), new_device_type_path %>
