<table>
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.general.restaurant')%></th>
    <th><%= t('activerecord.attributes.general.company')%></th>
    <th><%= t('activerecord.attributes.general.type')%></th>
    <th><%= t('activerecord.attributes.general.value')%></th>
    <th><%= t('activerecord.attributes.general.user')%></th>
    <th><%= t('activerecord.attributes.general.comment')%></th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% restaurant_evaluations.each do |restaurant_evaluation| %>
      <tr>
        <td><%= link_to restaurant_evaluation.restaurant.name, restaurant_evaluation.restaurant %></td>
        <td><%= link_to restaurant_evaluation.company.name, restaurant_evaluation.company %></td>
        <td><%= restaurant_evaluation.restaurant_evaluation_type.name %></td>
        <td><%= restaurant_evaluation.value %></td>
        <td><%= restaurant_evaluation.user.first_name %> <%= restaurant_evaluation.user.last_name %></td>
        <td><%= restaurant_evaluation.evaluation_comment %></td>
        <td><%= link_to t('activerecord.attributes.general.show'), restaurant_evaluation %></td>
      </tr>
  <% end %>
  </tbody>
</table>