<%= render 'shared/settings_container'%>
<p id="notice"><%= notice %></p>

<h1>Listing Software In Agreements</h1>

<table>
  <thead>
    <tr>
      <th><%= t('menu.software')%></th>
      <th><%= t('activerecord.attributes.general.agreement')%></th>
      <th><%= t('activerecord.attributes.general.monthly')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @software_in_agreements.each do |software_in_agreement| %>
      <tr>
        <td><%= software_in_agreement.software_id %></td>
        <td><%= software_in_agreement.agreement_id %></td>
        <td><%= software_in_agreement.monthly_price %></td>
        <td><%= link_to 'Show', software_in_agreement %></td>
        <td><%= link_to 'Edit', edit_software_in_agreement_path(software_in_agreement) %></td>
        <td><%= link_to 'Destroy', software_in_agreement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
