<p id="notice"><%= notice %></p>

<h1>Listing Software In Agreements</h1>

<table>
  <thead>
    <tr>
      <th>Software</th>
      <th>Agreement</th>
      <th>Monthly price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @software_in_agreements.each do |software_in_agreement| %>
      <tr>
        <td><%= software_in_agreement.software_id %></td>
        <td><%= software_in_agreement.agreement_id %></td>
        <td><%= software_in_agreement.monthly_price %></td>
        <td><%= link_to 'Show', software_in_agreement %></td>
        <td><%= link_to 'Edit', edit_software_in_agreement_path(software_in_agreement) %></td>
        <td><%= link_to 'Destroy', software_in_agreement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Software in agreement', new_software_in_agreement_path %>
