<p id="notice"><%= notice %></p>
<%= render 'shared/customers_container' %>
<h1><%= t('customers.index.title')%></h1>
<br>
<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.general.restaurant')%></th>
      <th><%= t('activerecord.attributes.customer.start_date')%></th>
      <th><%= t('activerecord.attributes.customer.end_date')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to @restaurants.find_by_id(customer.restaurant_id).name, @restaurants.find_by_id(customer.restaurant_id) %></td>
        <td><%= customer.start_date %></td>
        <td><%= customer.end_date %></td>
        <td><%= link_to t('activerecord.attributes.general.show'), customer %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t('customers.new.title'), new_customer_path %>