<p id="notice"><%= notice %></p>
<%= render 'shared/customers_container' %>
<h1><%= t('customers.show.title')%>: </h1>
<br>
<p>
  <h2><%= link_to @customer.restaurant.name, @customer.restaurant %></h2>
</p>
<br>
<p>
  <strong><%= t('activerecord.attributes.customer.start_date')%>: </strong>
  <%= @customer.start_date %>
</p>

<p>
  <strong><%= t('activerecord.attributes.customer.end_datec')%>: </strong>
  <%= @customer.end_date %>
</p>
<br>
<%= link_to t('activerecord.attributes.general.edit'), edit_customer_path(@customer, :restaurant_id => @customer.restaurant_id) %>
<br>
<%= render 'shared/admin_right', thing: @customer%>