<p id="notice"><%= notice %></p>
<%= render 'shared/customers_container' %>
<h1><%= t('customers.show.title')%>: </h1>
<br>
<p>
  <h2><%= link_to @restaurants.find_by_id(@customer.restaurant_id).name, @restaurants.find_by_id(@customer.restaurant_id) %></h2>
</p>
<br>
<p>
  <strong><%= t('activerecord.attributes.customer.start_date')%>: </strong>
  <%= @customer.start_date %>
</p>

<p>
  <strong><%= t('activerecord.attributes.customer.end_datec')%>: </strong>
  <%= @customer.end_date %>
</p>
<br>
<%= link_to 'Edit', edit_customer_path(@customer) %>
