<%= render 'shared/restaurants_container'%>
<p id="notice"><%= notice %></p>

<h1><%= t('menu.restaurant_eval_type')%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.general.name')%></th>
      <th><%= t('activerecord.attributes.general.description')%></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_evaluation_types.each do |restaurant_evaluation_type| %>
      <tr>
        <td><%= link_to restaurant_evaluation_type.name, restaurant_evaluation_type %></td>
        <td><%= restaurant_evaluation_type.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant evaluation type', new_restaurant_evaluation_type_path %>
