<p id="notice"><%= notice %></p>
<%= render 'shared/companies_container' %>
<h1><%= t('companies.index.title')%></h1>
<br>
<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.general.name')%></th>
      <th> <strong><%= t('activerecord.attributes.company.company_type')%></strong></th>
      <th> <strong><%= t('activerecord.attributes.general.street_address')%></strong></th>
      <th><strong><%= t('activerecord.attributes.general.city')%></strong></th>
      <th><strong><%= t('activerecord.attributes.general.country')%></strong></th>
      <th><strong><%= t('activerecord.attributes.general.phone_number')%></strong></th>
      <th><strong><%= t('activerecord.attributes.general.email')%></strong></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <td><%= company.company_type.name %></td>
        <td><%= company.street_address %></td>
        <td><%= company.city %></td>
        <td><%= company.country %></td>
        <td><%= company.phone_number %></td>
        <td><%= company.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
