<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company type</th>
      <th>Street address</th>
      <th>City</th>
      <th>Country</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Added by user</th>
      <th>Edited by user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.company_type_id %></td>
        <td><%= company.street_address %></td>
        <td><%= company.city %></td>
        <td><%= company.country %></td>
        <td><%= company.phone_number %></td>
        <td><%= company.email %></td>
        <td><%= company.added_by_user %></td>
        <td><%= company.edited_by_user %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
