<p id="notice"><%= notice %></p>
<%= render 'shared/companies_container' %>
<h1><%= @company.name %></h1>
<br>
<table class="smallTable">
  <thead>
  <tr>
    <th><strong><%= t('activerecord.attributes.company.company_type')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.street_address')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.city')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.country')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.phone_number')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.email')%></strong></th>
    <th><strong><%= t('activerecord.attributes.company.added_by_user')%></strong></th>
    <th><strong><%= t('activerecord.attributes.company.edited_by_user')%></strong></th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @company.company_type.name %></td>
    <td> <%= @company.street_address %></td>
    <td><%= @company.city %></td>
    <td> <%= @company.country %></td>
    <td><%= @company.phone_number %></td>
    <td><%= @company.email %></td>
    <td><%= @users.find_by_id(@company.added_by_user).first_name %> <%= @users.find_by_id(@company.added_by_user).last_name %></td>
    <td><%= @users.find_by_id(@company.added_by_user).first_name %> <%= @users.find_by_id(@company.added_by_user).last_name %></td>
    <td><%= link_to 'Edit', edit_company_path(@company) %></td>
  </tr>
  </tbody>
</table >
<%= render 'contact_people/contactPeople_table', contact_people: @company_contact_people %>
<%= link_to t('contact_people.new.title'), new_contact_person_path(:company_id => @company.id) %>
<br>
<br>
<p>
  <strong><h2><%= t('companies.show.restaurants_in_company')%></h2></strong>
</p>
<%= render 'restaurant_table', restaurants: @restaurants_in_company %>
<br>
<%= link_to t('restaurants.new.title'), new_restaurant_path(:company_id => @company.id) %>
<br>
<%= render 'shared/admin_right', thing:@company %>