<p id="notice"><%= notice %></p>
<%= render 'shared/companies_container' %>
<h1><%= @company.name %></h1>
<br>
<table class="smallTable">
  <thead>
  <tr>
    <th> <strong><%= t('activerecord.attributes.company.company_type')%></strong></th>
    <th> <strong><%= t('activerecord.attributes.general.street_address')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.city')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.country')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.phone_number')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.email')%></strong></th>
    <th><strong><%= t('activerecord.attributes.company.added_by_user')%></strong></th>
    <th><strong><%= t('activerecord.attributes.company.edited_by_user')%></strong></th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @company.company_type.name %></td>
    <td> <%= @company.street_address %></td>
    <td><%= @company.city %></td>
    <td> <%= @company.country %></td>
    <td><%= @company.phone_number %></td>
    <td><%= @company.email %></td>
    <td><%= @users.find_by_id(@company.added_by_user).first_name %> <%= @users.find_by_id(@company.added_by_user).last_name %></td>
    <td><%= @users.find_by_id(@company.added_by_user).first_name %> <%= @users.find_by_id(@company.added_by_user).last_name %></td>
    <td><%= link_to 'Edit', edit_company_path(@company) %></td>
  </tr>
  </tbody>
</table>
<br>
</p>
<h2><%= t('contact_people.index.title')%></h2>
<p>
<table>
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.general.name')%></th>
    <th><%= t('activerecord.attributes.general.role')%></th>
    <th><%= t('activerecord.attributes.general.phone_number')%></th>
    <th><%= t('activerecord.attributes.general.email')%></th>
  </tr>
  </thead>

  <tbody>
  <% @company_contact_people.each do |contact_person| %>
      <tr>
        <td><%= link_to contact_person.name, contact_person %></td>
        <td><%= contact_person.role %></td>
        <td><%= contact_person.phone_number %></td>
        <td><%= contact_person.email %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>
<br>
<p>
  <strong><h2><%= t('companies.show.restaurants_in_company')%></h2></strong>
</p>
<table>
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.general.name')%></th>
    <th> <strong><%= t('activerecord.attributes.general.street_address')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.city')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.country')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.phone_number')%></strong></th>
    <th><strong><%= t('activerecord.attributes.general.email')%></strong></th>
    <th>Server ip</th>
    <th><%= t('activerecord.attributes.restaurant.restaurant_type') %></th>
  </tr>
  </thead>

  <tbody>
  <% @restaurants_in_company.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= restaurant.street_address %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.country %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.email %></td>
        <td><%= restaurant.server_ip %></td>
        <td><%= restaurant.restaurant_type.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if admin_user %>
    <br>
    Admin panel:
  <%= link_to 'Destroy', @company, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>