<p id="notice"><%= notice %></p>
<%= render 'shared/companies_container' %>
<h1><%= t('company_types.index.title')%></h1>
<% cache 'companies_table', skip_digest: true do%>
<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.general.name')%></th>
      <th><%= t('activerecord.attributes.general.description')%></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_types.each do |company_type| %>
      <tr class="navigationTable" data-target="company_types" data-id="<%= company_type.id%>">
        <td><%= link_to company_type.name, company_type %></td>
        <td><%= company_type.description %></td>
        <td><%= link_to t('activerecord.attributes.general.edit'), edit_company_type_path(company_type) %></td>
        <td><%= link_to t('activerecord.attributes.general.destroy'), company_type, method: :delete, data: { confirm: 'Are you sure?' }, :class => "deleteButton button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>

<%= link_to t('company_types.new.title'), new_company_type_path %>
