<p id="notice"><%= notice %></p>
<%= render 'shared/companies_container' %>
<p>
  <strong>Name:</strong>
  <%= @company_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company_type.description %>
</p>
<br>
<%= link_to t('activerecord.attributes.general.edit'), edit_company_type_path(@company_type) %>
<br>
<br>
<p>
  <strong>Companies of this type:</strong>
</p>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Street address</th>
    <th>City</th>
    <th>Country</th>
    <th>Phone number</th>
    <th>Email</th>
  </tr>
  </thead>

  <tbody>
  <% @companies.each do |company| %>
      <tr data-target="companies" data-id="<%=company.id%>" class="navigationTable">
        <td><%= link_to company.name, company %></td>
        <td><%= company.street_address %></td>
        <td><%= company.city %></td>
        <td><%= company.country %></td>
        <td><%= company.phone_number %></td>
        <td><%= company.email %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<br>
<%= render 'shared/admin_right', thing: @company_type%>
