<p id="notice"><%= notice %></p>
<% content_for(:page_header) {t('.title')} %>
<h1><%= t('restaurants.index.title')%></h1>
<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.general.name')%></th>
      <th><%= t('activerecord.attributes.general.company')%></th>
      <th><%= t('activerecord.attributes.general.street_address')%></th>
      <th><%= t('activerecord.attributes.general.city')%></th>
      <th><%= t('activerecord.attributes.general.country')%></th>
      <th><%= t('activerecord.attributes.general.phone_number')%></th>
      <th><%= t('activerecord.attributes.general.email')%></th>
      <th>Server ip</th>
      <th><%= t('activerecord.attributes.restaurant.restaurant_type')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= link_to restaurant.company.name, restaurant.company %></td>
        <td><%= restaurant.street_address %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.country %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.email %></td>
        <td><%= restaurant.server_ip %></td>
        <td><%= restaurant.restaurant_type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
