<p id="notice"><%= notice %></p>
<%= render 'shared/restaurants_container'%>
<% content_for(:page_header) {t('.title')} %>
<h1><%= t('restaurants.index.title')%></h1>
<%= render 'restaurant_form', restaurants: @restaurants%>
<br>
<%= link_to t('restaurants.new.title'), new_restaurant_path %>
