<p id="notice"><%= notice %></p>

<h1>Listing Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Street address</th>
      <th>City</th>
      <th>Country</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Server ip</th>
      <th>Restaurant type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.company_id %></td>
        <td><%= restaurant.street_address %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.country %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.email %></td>
        <td><%= restaurant.server_ip %></td>
        <td><%= restaurant.restaurant_type_id %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
