<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.name') %></strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.company') %></strong>
  <%= @restaurant.company_id %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.street_address') %></strong>
  <%= @restaurant.street_address %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.city') %></strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.country') %></strong>
  <%= @restaurant.country %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.phone_number') %></strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.email') %></strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>Server ip:</strong>
  <%= @restaurant.server_ip %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.restaurant_type') %></strong>
  <%= @restaurant.restaurant_type_id %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
