<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.general.name') %></strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.general.company') %></strong>
  <%= link_to @companies.find_by_id(@restaurant.company_id).name, @companies.find_by_id(@restaurant.company_id)%>
</p>

<p>
  <strong><%= t('activerecord.attributes.general.street_address') %></strong>
  <%= @restaurant.street_address %>
</p>

<p>
  <strong><%= t('activerecord.attributes.general.city') %></strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong><%= t('activerecord.attributes.general.country') %></strong>
  <%= @restaurant.country %>
</p>

<p>
  <strong><%= t('activerecord.attributes.general.phone_number') %></strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong><%= t('activerecord.attributes.general.email') %></strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>Server ip:</strong>
  <%= @restaurant.server_ip %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.restaurant_type') %></strong>
  <%= @restaurant_types.find_by_id(@restaurant.restaurant_type_id).name %>
</p>
<p>
  <strong>Restaurant Evaluations:</strong>
</p>
<table>
  <thead>
  <tr>
    <th>Restaurant evaluation type</th>
    <th>Value</th>
    <th>Evaluation by user</th>
    <th>Evaluation comment</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @restaurant_evals.each do |restaurant_evaluation| %>
      <tr>
        <td><%= restaurant_evaluation.restaurant_evaluation_type.name %></td>
        <td><%= restaurant_evaluation.value %></td>
        <td><%= restaurant_evaluation.user.first_name %> <%= restaurant_evaluation.user.last_name %></td>
        <td><%= restaurant_evaluation.evaluation_comment %></td>
        <td><%= link_to 'Show', restaurant_evaluation %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
