<p id="notice"><%= notice %></p>

<h1>Listing Agreements</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>User</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Agreement length</th>
      <th>Term of notice in months</th>
      <th>Responsible user</th>
      <th>Invoicing period length</th>
      <th>Invoicing payment time</th>
      <th>Invoicing date</th>
      <th>Signed by customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agreements.each do |agreement| %>
      <tr>
        <td><%= agreement.restaurant_id %></td>
        <td><%= agreement.user_id %></td>
        <td><%= agreement.start_date %></td>
        <td><%= agreement.end_date %></td>
        <td><%= agreement.agreement_length %></td>
        <td><%= agreement.term_of_notice_in_months %></td>
        <td><%= agreement.responsible_user_id %></td>
        <td><%= agreement.invoicing_period_length %></td>
        <td><%= agreement.invoicing_payment_time %></td>
        <td><%= agreement.invoicing_date %></td>
        <td><%= agreement.signed_by_customer %></td>
        <td><%= link_to 'Show', agreement %></td>
        <td><%= link_to 'Edit', edit_agreement_path(agreement) %></td>
        <td><%= link_to 'Destroy', agreement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agreement', new_agreement_path %>
