<p id="notice"><%= notice %></p>
<%= render 'shared/agreements_container' %>
<h1><%= t('agreements.show.title')%></h1>
<br>
<table>
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.general.restaurant')%></th>
    <th><%= t('activerecord.attributes.agreement.added_by')%></th>
    <th><%= t('activerecord.attributes.customer.start_date')%></th>
    <th><%= t('activerecord.attributes.customer.end_date')%></th>
    <th><%= t('activerecord.attributes.agreement.agreement_length')%></th>
    <th><%= t('activerecord.attributes.agreement.term_of_notice')%></th>
    <th><%= t('activerecord.attributes.agreement.responsible_user')%></th>
    <th><%= t('activerecord.attributes.agreement.invoice_period')%></th>
    <th><%= t('activerecord.attributes.agreement.payment_time')%></th>
    <th><%= t('activerecord.attributes.agreement.invoicing_date')%></th>
    <th><%= t('activerecord.attributes.agreement.signed_by')%></th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to @agreement.restaurant.name, @agreement.restaurant %></td>
        <td><%= @agreement.user.first_name %> <%= @agreement.user.last_name %></td>
        <td><%= @agreement.start_date %></td>
        <td><%= @agreement.end_date %></td>
        <td><%= @agreement.agreement_length %></td>
        <td><%= @agreement.term_of_notice_in_months %></td>
        <td><%= @agreement.responsible_user_id %></td>
        <td><%= @agreement.invoicing_period_length %></td>
        <td><%= @agreement.invoicing_payment_time %></td>
        <td><%= @agreement.invoicing_date %></td>
        <td><%= @agreement.signed_by_customer %></td>
        <td><%= link_to t('activerecord.attributes.general.edit'), edit_agreement_path(@agreement) %> |</td>
      </tr>
  </tbody>
</table>
<br>
<% if admin_user %>
    <%= link_to t('activerecord.attributes.general.destroy'), @agreement, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>