<p id="notice"><%= notice %></p>
<%= render 'shared/agreements_container' %>
<h1><%= t('agreements.show.title')%></h1>
<br>
<table>
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.general.restaurant')%></th>
    <th><%= t('activerecord.attributes.agreement.added_by')%></th>
    <th><%= t('activerecord.attributes.customer.start_date')%></th>
    <th><%= t('activerecord.attributes.customer.end_date')%></th>
    <th><%= t('activerecord.attributes.agreement.agreement_length')%></th>
    <th><%= t('activerecord.attributes.agreement.term_of_notice')%></th>
    <th><%= t('activerecord.attributes.agreement.responsible_user')%></th>
    <th><%= t('activerecord.attributes.agreement.invoice_period')%></th>
    <th><%= t('activerecord.attributes.agreement.payment_time')%></th>
    <th><%= t('activerecord.attributes.agreement.invoicing_date')%></th>
    <th><%= t('activerecord.attributes.agreement.signed_by')%></th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to @agreement.restaurant.name, @agreement.restaurant %></td>
        <td><%= @agreement.user.first_name %> <%= @agreement.user.last_name %></td>
        <td><%= @agreement.start_date %></td>
        <td><%= @agreement.end_date %></td>
        <td><%= @agreement.agreement_length %></td>
        <td><%= @agreement.term_of_notice_in_months %></td>
        <td><%= @agreement.responsible_user_id %></td>
        <td><%= @agreement.invoicing_period_length %></td>
        <td><%= @agreement.invoicing_payment_time %></td>
        <td><%= @agreement.invoicing_date %></td>
        <td><%= @agreement.signed_by_customer %></td>
        <td><%= link_to t('activerecord.attributes.general.edit'), edit_agreement_path(@agreement) %></td>
      </tr>
  </tbody>
</table>
<br>
<h2><%= t('agreements.show.softwares')%></h2>
<table class="smallTable">
  <thead>
  <tr>
    <th><%= t('menu.software')%></th>
    <th><%= t('activerecord.attributes.general.monthly')%></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @software_in_this_agreement.each do |software_in_agreement| %>
      <tr>
        <td><%= software_in_agreement.software.name %></td>
        <td><%= software_in_agreement.monthly_price %></td>
        <td><%= link_to t('activerecord.attributes.general.edit'), edit_software_in_agreement_path(software_in_agreement) %></td>
        <% if admin_user %>
          <td><%= link_to t('activerecord.attributes.general.destroy'), software_in_agreement, method: :delete, data: { confirm: 'Are you sure?' } , :class => "deleteButton button" %></td>
        <%end%>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<h2><%=t('agreements.show.devices')%></h2>
<table class="smallTable">
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.general.device')%></th>
    <th><%= t('activerecord.attributes.device.is_leased')%></th>
    <th> <%= t('activerecord.attributes.software.price')%> </th>
    <th> <%= t('activerecord.attributes.general.monthly')%> </th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @devices_in_this_agreement.each do |device_in_agreement| %>
      <tr>
        <td><%= device_in_agreement.device.identifier %></td>
        <td><%= device_in_agreement.price_is_leasing %></td>
        <td><%= device_in_agreement.total_price %></td>
        <td><%= device_in_agreement.monthly_price %></td>
        <td><%= link_to t('activerecord.attributes.general.edit'), edit_device_in_agreement_path(device_in_agreement) %></td>
        <% if admin_user %>
        <td><%= link_to t('activerecord.attributes.general.destroy'), device_in_agreement, method: :delete, data: { confirm: 'Are you sure?' } , :class => "deleteButton button" %></td>
            <%end%>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<p>
  <h2><%= t('agreements.show.add_device')%></h2>
  <%= render 'device_in_agreements/form'%>
</p>
<br>
<p>
  <h2><%= t('agreements.show.add_software')%></h2>
<%= render 'software_in_agreements/form'%>
</p>
<br>
<%= render 'shared/admin_right', thing: @agreement%>