<!DOCTYPE html>
<html>
<head>
  <title>Hallinta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <ul>
    <li><%= link_to "Users", users_path%></li>
    <li><%= link_to "Companies", companies_path %></li>
    <li><%= link_to "Restaurants", restaurants_path %></li>
    <li><%= link_to "Customers", customers_path%></li>
    <li><%= link_to "Contact People", contact_people_path %></li>
    <li><%= link_to "Devices", devices_path%></li>
    <li><%= link_to "Restaurant Evaluations", restaurant_evaluations_path%></li>
    <li><%= link_to "Software", softwares_path %></li>
    <li><%= link_to "Agreements", agreements_path %></li>
    <li><%= link_to "Device in agreements", device_in_agreements_path%></li>
    <li></li>
    <li><%= link_to "User Roles", roles_path%></li>
    <li><%= link_to "Company Type", company_types_path%></li>
    <li><%= link_to "Restaurant Type", restaurant_types_path%></li>
    <li><%= link_to "Device Type", device_types_path%></li>
    <li><%= link_to "Restaurant Evaluation Types", restaurant_evaluation_types_path %></li>
  </ul>
  <div id="user_nav">
    <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log out", log_out_path %>
    <% else %>
        <%= link_to "Sign up", sign_up_path %> or
        <%= link_to "log in", log_in_path %>
    <% end %>
  </div>
  <li>
    <%= link_to t('menu.languages.en'), change_locale_path(:en) %>
  </li>
  <li>
    <%= link_to t('menu.languages.fi'), change_locale_path(:fi) %>
  </li>
</head>
<body>
<div class="page-header">
  <h1><%= yield :page_header %></h1>
</div>

<%= yield %>

</body>
</html>
